{% extends "global/Page.html" %}
{% load otree %}

{% block content %}
	<h4>Results and Round History</h4>
    <p>
        {% if player.is_winner %}
            You won this round's auction!
        {% else %}
            You did not win the auction this round.
        {% endif %}
		<br>
		Your remaining cash: {{player.player_cash}}
	
	</p>
	

    <table class="table">
        <tr>
            <th>Round</th>
            <th>Winning Bid</th>
			<th>Losing Bid</th>
			<th>Item Value</th>
        </tr>
        {% for g in group_in_all_rounds %}
            <tr>
                <td>{{ g.round_number }}</td>
				<td>{{g.highest_bid}}</td>
				<td>{{g.lowest_bid}}</td>
				<td> {{g.item_value}}</td>
            </tr>
        {% endfor %}
    </table>

    {% next_button %}

{% endblock %}


