{% extends "contest_with_damage/Page.html" %}
{% load otree %}



{% block content %}
   <div id = "row1">
   <div id="column1">
	<h4>Results and Round History</h4>

  <p>
      {% if player.is_winner %}
          You won this round's auction!
      {% else %}
          You did not win the auction this round.
      {% endif %}
  <br>
  </p>
    <p>
    {%if player.is_winner%}
        You obtained the good because your bid was highest.
    {%else%}
        You did not obtain the good because the other participant's bid was higher.
    {%endif%}
    <br>
    Your initial cash every round is {{Constants.initial_cash_per_round|c}}
    <br>
    Your bid was {{player.bid_amount}}.
    <br>
    Your loss factor was {{player.loss_factor}}
    <br>
    The other participant's bid caused you to lose {{player.loss_from_others_bid}}
    <br>
    Your payoff for this round is {{player.round_payoff}}
    <br>
    {{Constants.initial_cash_per_round|c}} + {%if player.is_winner%} {{Constants.item_value|c}} {%else%} $0.00 {%endif%} - {{player.bid_amount}} - {{player.loss_factor}} * {{player.others_bid_amount}} = {{player.round_payoff}}
    <br>
    The other participant's bid was {{player.others_bid_amount}}.
    <br>
    Their loss factor was {{player.others_loss_factor}}
    <br>
    They lost {{player.others_loss_from_your_bid}} as a result of your bid.
    <br>
    Their payoff was {{player.others_payoff}}
    <br>
    </p>

    {% next_button %}
    </div>
    <div id="column2">

    <table class="table">
        <tr>
            <th>Round</th>
            <th>Did you obtain the good?
            <th>Your Bid</th>
            <th>Your Loss Factor</th>
            <th>Loss Resulting from Other's Bid</th>
            <th>Your Payoff</th>
			      <th>Other's Bid</th>
            <th>Other's Loss Factor</th>
            <th>Other's Loss Resulting From Your Bid</th>
            <th>Other's Payoff</th>

        </tr>
        {% for p in player_history %}
            <tr>

                <td>{{p.round_number}}</td>
                <td>{%if p.is_winner%} You Won! {% else %} You Lost. {% endif %}</td>
				        <td>{{p.bid_amount}}</td>
                <td>{{p.loss_factor}}</td>
                <td>{{p.loss_from_others_bid}} </td>
                <td>{{p.round_payoff}}</td>
				        <td>{{p.others_bid_amount}}</td>
                <td>{{p.others_loss_factor}}</td>
                <td>{{p.others_loss_from_your_bid}}</td>
                <td>{{p.others_payoff}}</td>

            </tr>
        {% endfor %}
    </table>
    </div>

    </div>
{% endblock %}
