{% extends "global/Page.html" %}
{% load otree %}

{% block content %}
	<h4>Results and Round History</h4>
    
    <p>
    
    Your bid was {{player.bid_amount}}.
    <br>
    Your opponent's bid was {{player.others_bid_amount}}.
    <br>
    {%if player.is_winner%}
        You obtained the good because your bid was highest.
    {%else%}
        You did not obtain the good because your opponent's bid was higher.
    {%endif%}
    <br>
    Your payoff is:
    <br>
    {%if player.is_winner%} {{Constants.item_value}} {%else%} 0 {%endif%} - &#945; * {{player.bid_amount}} - &#946; * {{player.others_bid_amount}} = {{player.round_payoff}}
    
    
    </p>
    
    
    <p>
        {% if player.is_winner %}
            You won this round's auction!
        {% else %}
            You did not win the auction this round.
        {% endif %}
		<br>
		Your remaining cash: {{player.player_cash}}
	
	</p>
	

    <table class="table">
        <tr>
            <th>Round</th>
            <th>Your Bid</th>
			<th>Opponent's Bid</th>
			<th>Did you win?</th>
        </tr>
        {% for p in player_history %}
            <tr>
                <td>{{p.round_number}}</td>
				<td>{{p.bid_amount}}</td>
				<td>{{p.others_bid_amount}}</td>
				<td>{%if p.is_winner%} You Won! {% else %} You Lost. {% endif %}</td>
            </tr>
        {% endfor %}
    </table>

    {% next_button %}

{% endblock %}


