{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block styles %}
	<style>
	#earns table, #earns th, #earns td, #earns tr {
		border: 1px solid black;
		padding: 10px;
		text-align: center;
	}
	#earns tr:nth-child(even){background-color: #f2f2f2;}
	</style>
{% endblock %}

{% block content %}
	<h5>
		
		Thank you for participating in the experiment. Now we will pay you, please wait quietly until your computer ID number is called.
    </h5>  
        <br>
        
    <h5>   
        If you have any questions about the experiment, please feel free to contact any of the researchers.
    </h5>   
        <br>   
    <h5> Therese Grijalva, tgrijalva@weber.edu, Department of Economics, Weber State University </h5>
        <br>
    <h5> Brandon Koford, brandonkoford@weber.edu, Department of Economics, Weber State University </h5>
        <br>
    <h5> Lucas Rentschler, lucas.rentschler@usu.edu, Department of Economics and Finance, Utah State University </h5>

{% endblock %}
  

   
   
   
   
   