{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Counting Exercises
{% endblock %}

{% block styles %}
	<style>
	#task table, #task th, #task td, #task tr {
		border: 1px solid black; 
		padding: 10px;
		text-align: center;
	}
	#task tr:nth-child(even){background-color: #f2f2f2;}
	
	#earns table, #earns th, #earns td, #earns tr {
	
		border: 1px solid black;
		padding: 10px;
		text-align: center;
	}
	#earns tr:nth-child(even){background-color: #f2f2f2;}

	#payment div {
		border-style: solid;
		border: 5px black;	
		padding: 10px;
		text-align: center;
	}
	</style>

{% endblock %}
{% block content %}

	<!---<div id = "payment" style="border: 1px solid black; padding: 10px; text-align:center">
			You have correctly answered {{ num_correct_first_task }} out of {{ problems_attempted_first_task  }} problems so far. <br>
			If this were the second question period, and your card color was GREEN, you would have earned {{ earningsGREEN | c }} <br>
			If this were the second question period, and your card color was RED, you would have earned {{ earningsRED | c }} <br>
			If this were the second question period, your card color was RED, and you had chosen to spend, you would have earned {{ earningsREDinvest | c }} <br>
	</div> -->
	
	<p>
	If this were the second section of counting exercises, your potential earnings would be represented in the table below:
	</p>
	
	
	<table id="earns">
		<tr>
			<th> GREEN card earnings </th> <th>  RED card earnings if you had not chosen to spend </th> <th> RED Card earnings if you had chosen to spend </th>
		</tr>
		<tr>
			<td>   DATA1  </td> <td> DATA2  </td> <td> DATA3 </td>
		</tr>
	
	</table>
	
	
	<p>        
		<h4>Please count the number of ones in the table below. Type your answer into the box, and click the Next button or press the Enter key.</h4> 
    </p>

	<table id="task">
		<tr>
			<td>{{ int0 }} </td> <td>{{ int1 }} </td> <td>{{ int2 }} </td> <td>{{ int3 }} </td> <td>{{ int4 }}</td>
		</tr>
		<tr>
			<td>{{ int5 }} </td> <td>{{ int6 }} </td> <td>{{ int7 }} </td> <td>{{ int8 }} </td> <td>{{ int9 }} </td>
		</tr>
		<tr>
			<td>{{ int10 }} </td> <td>{{ int11 }} </td> <td>{{ int12 }} </td> <td>{{ int13 }} </td> <td>{{ int14 }} </td> 
		</tr>
		<tr> 
			<td>{{ int15 }} </td> <td>{{ int16 }} </td> <td>{{ int17 }} </td> <td>{{ int18 }} </td> <td>{{ int19 }} </td>
		</tr> <br>
		<tr> 
			<td>{{ int20 }} </td> <td>{{ int21 }} </td> <td>{{ int22 }} </td> <td>{{ int23 }} </td> <td>{{ int24 }} </td>
		</tr> <br>
	</table>

	{% formfield player.user_input label="Number of ones:"%}
    {% next_button %}
	
	<h2> {%autoescape off%} {{correct_last_round}} {%endautoescape %}</h2>

{% endblock %}