{% extends "global/Page.html" %}
{% load otree static %}


{% block content %}
        <h4>Please answer the following questions on the experiment's instructions. Please raise your hand if you need assistance. </h4>

	<p>	{% formfield player.instructions_quiz_input1 label = "1. Suppose you correctly solve 37 counting exercises in stage two of the experiment. If the card in your envelope is RED, and you made the investment, what are your earnings in this stage of the experiment?" %} </p>
	<p> {% formfield player.instructions_quiz_input2 label = "2. Suppose you correctly solve 37 counting exercises in stage two of the experiment. If the card in your envelope is GREEN, and you made the investment, what are your earnings in this stage of the experiment?" %} </p>
	<p> {% formfield player.instructions_quiz_input3 label = "3. Suppose you correctly solve 37 counting exercises in stage two of the experiment. If the card in your envelope is RED, and you did not make the investment, what are your earnings in this stage of the experiment? " %} </p>
	<p> {% formfield player.instructions_quiz_input4 label = "4. If the MESSAGE is RED, what is the likelihood that your card is also RED?" %} </p>
	<p> {% formfield player.instructions_quiz_input5 label = "5. If you do not make the investment, and the card in your envelope is RED, how much do you earn for each correctly solved counting exercise in stage two of the experiment?" %} </p>
	
    {% next_button %}
{% endblock %}


