{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
   Investment Page
{% endblock %}

{% block content %}
	<p>
		<h4>Over the next 20 minutes you will continue to answer questions like you did previously. Now, however, the amount you earn per correct answer may be less if the color of the card in your envelope is red.
        You have the opportunity to invest some of what your have earned so far in order to mitigate potential losses. </h4>
		<h4>The investment costs {{ investment_cost | c}}, but, if your card color is red, you will earn {{ investment_effectiveness | c }} per question instead of {{ red_card_modifier | c}}. </h4>
		
		
		<h4>{% formfield player.investment_choice label = "Would you like to invest?" %} </h4>
		
		
    </p>
    {% next_button %}
{% endblock %}