{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

{% endblock %}

{% block content %}
	<p>
        <h5>In your envelope, there is either a RED card or a GREEN card. It is RED with probability X and is GREEN with probability 1-XX. There is information available to you regarding the color of the card, and this information is accurate 60% of the time. Would you like to see this information?</h5>
		
		{% formfield player.message_choice  %}
		
    </p>
    {% next_button %}
{% endblock %}