{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Second Counting Questions
{% endblock %}

{% block styles %}
	<style>
	#task table, #task th, #task td, #task tr {
		border: 1px solid black; 
		padding: 10px;
		text-align: center;
	}
	#task tr:nth-child(even){background-color: #f2f2f2;}
	</style>

{% endblock %}

{% block content %}
	<p>
        <h4>You have correctly answered {{ num_correct_second_task }} out of {{ problems_attempted_second_task  }} counting problems so far. </h4>
		<h4>Please count the number of ones in the table below. Type your answer into the box, and click the Next button or press the Enter key.</h4> 
    </p>

	<table id="task">
		<tr>
			<td>{{ int0 }} </td> <td>{{ int1 }} </td> <td>{{ int2 }} </td> <td>{{ int3 }} </td> <td>{{ int4 }}</td>
		</tr>
		<tr>
			<td>{{ int5 }} </td> <td>{{ int6 }} </td> <td>{{ int7 }} </td> <td>{{ int8 }} </td> <td>{{ int9 }} </td>
		</tr>
		<tr>
			<td>{{ int10 }} </td> <td>{{ int11 }} </td> <td>{{ int12 }} </td> <td>{{ int13 }} </td> <td>{{ int14 }} </td> 
		</tr>
		<tr> 
			<td>{{ int15 }} </td> <td>{{ int16 }} </td> <td>{{ int17 }} </td> <td>{{ int18 }} </td> <td>{{ int19 }} </td>
		</tr> <br>
		<tr> 
			<td>{{ int20 }} </td> <td>{{ int21 }} </td> <td>{{ int22 }} </td> <td>{{ int23 }} </td> <td>{{ int24 }} </td>
		</tr> <br>
	</table>

	{% formfield player.user_input label="Number of ones:"%}
    {% next_button %}
	
	<h2> {%autoescape off%} {{correct_last_round}} {%endautoescape %}</h2>

{% endblock %}