{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Participant Instructions
{% endblock %}

{% block content %}
<style type="text/css">
            body {
font-size: 150%;
                }
            
    </style>
<h2>Welcome!</h2>
<p>Thank you for coming today. We are studying individual savings decisions in light of possible economic conditions. This research is voluntary, you are free to opt out at any point. You will make economic decisions over the course of the next hour. At the end of the session, each of you will receive a <span>&#36;</span>5 participation and completion bonus in cash. Additional earnings are possible based on the choices you make during the research session. Please follow the instructions carefully.</p>
<p>Your anonymity is assured as we will not reveal any information about your choices or your identity to other participants (or anyone else) before or after the research session.</p>
<p>There are some very important rules that you must follow during the experiment.</p>
<ol>
<li>Turn off your cell phones and any other electronic devices. </li>
<li>Place all electronic devices in a secure and private location.</li>
<li>Do not talk to any of the other participants.</li>
<li>Do not make any noises or verbal exclamations during the experiment that may provide cues to other participants of your decisions and outcomes. For example, suppose one subject in the experiment shouts, <q>Yes!</q> indicative that they are happy with his decision, this could affect the decisions of other subjects in the experiment. It is critically important that each subject makes independent decisions that are not directly or indirectly affected by other participants.</li>
</ol>
<p>If any of the rules above are violated, we will ask you to leave the experiment immediately.
If you have any questions, please raise your hand and a researcher will come to assist you. 
</p>

<p>Please wait for further instructions from the research team. Do not hit next until instructed.</p>

<p>When instructed you will proceed to a practice round.</p>

{% endblock %}