{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}

    <h5>
       It is time to reveal the contents of your envelope.  Privately open your envelope and identify the color of your card.  Please do not remove the card as this information is private. Please raise your hand if you need assistance.
	   {% formfield player.inputted_card_color label = "Please select your card color below."%}
    </h5>

	<h5>
		You will now see the results and your earnings from the experiment so far.
	</h5>
	{% next_button %}

{% endblock %}