{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}

	<h5>
		In this stage, your task is once again count the number of ones in a grid. You will be given 15 minutes. <br> <br>
		<b>DO NOT</b> open your envelope. <br> <br>
		If your envelope contains a green card, each grid correctly counted will pay $0.15. If it contains a red card, each grid correctly counted will pay $0.02. Recall that 43 out of 100 times, the envelope will contain a red card, and 57 out of 100 times it will contain a green card. <br> <br>

	</h5>
	<img src="{% static "imgtr2.JPG" %}" onerror="alert('Image Tr2 Error')">
	{% next_button %}

{% endblock %}
